.card {
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3;
    width: 300px;
}

.card .card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card .card-title {
    font-size: 0.875rem;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
}

.card .card-description {
    font-size: 1rem;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: none;
    color: #2d3b45;
}

.card .card-term {
    font-size: 0.8rem;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: none;
    color: #2d3b45;
}

.card-ellipsis {
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
    left: 90%;
    top: 5%;
    color: white;
}

.col {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    max-height: 150px
}

.fa {
    margin-top: 10px;
}

.course-cards {
    width: 300px;
}

.pencil-icon {
    font-size: 1.5em;
}

.northeastern-nav {
    width: 80px;
}