
.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  margin: 0px;
  width: 80px;
  height: 125rem;
  padding: 0px;
}
  .wd-kanbas-navigation li {
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5;
  }
  .wd-kanbas-navigation li.wd-active {
      background-color: white;
    }
  .wd-kanbas-navigation li.wd-active a {
      color: red;
  }
  .wd-kanbas-navigation a {
  color: white;
  text-decoration: none;

  }
  .wd-kanbas-navigation a i {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  font-size: 2em;
  margin-bottom: 5px;
  }
  .header-class {
    float: right;
  }

  .fs-2 {
    color: red;
  }

  .account-icon {
    color: white;
  }



